.env

.env.local

.env.*.local

node_modules/

dist/

packages/contracts/out/
packages/contracts/cache/
packages/contracts/lib/
packages/contracts/broadcast/
packages/hardware-test/tsconfig.tsbuildinfo
packages/subgraph/generated/
packages/subgraph/build/

packages/contracts/.env

packages/hardware-test/.env

packages/keeper/secrets.env
packages/keeper/.env
packages/keeper/data/

local/

